.product-form {
  width: 20rem;
  max-width: 90%;
}
.form-control {
  margin: 1rem 0;
}
.form-control label,
.form-control input {
  display: block;
  width: 100%;
}
.form-control input {
  margin-top: 1rem;
  height: 2rem;
  border: 1px solid #8082fa;
  font: inherit;
  border-radius: 2px;
}
button {
  padding: 0.5rem;
  font: inherit;
  border: 1px solid #8082fa;
  color: #8082fa;
  background: white;
  border-radius: 2px;
  cursor: pointer;
}
button:hover,
button:active {
  color: white;
  background-color: #8082fa;
}